{% extends "base.html" %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
    
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum beatae quam, sit quae ad nesciunt quia voluptas odit dolor cupiditate distinctio et voluptatem magnam laboriosam, fuga ducimus porro necessitatibus, eius accusamus! Non explicabo quaerat, sunt saepe voluptatem inventore at et nulla earum rerum provident labore ea recusandae libero repellat laborum odio nesciunt. Impedit, unde, laboriosam debitis minus vitae mollitia velit maxime accusamus, eius doloremque quasi. Tenetur rem libero repellat ab quo adipisci cumque consectetur magni dignissimos laboriosam ad vitae corporis quaerat quisquam, modi rerum, saepe vero voluptatem natus? Ullam amet dolor atque repudiandae nostrum doloremque ut consectetur consequatur odit obcaecati!</p>
        
        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Sign In
                
            </a>
            <a class="btn btn-dark" href="/signup/">
                Sign Up
            </a>
        </div>
    </section>
</main>
{% endblock %}